header {
    background-color: #a1bc70;
}

header > .menu-controller:hover, header > .menu-controller-active {
    background-color: #59574b;
}

header > nav.menu > ul {
    background-color: #59574b;
}