header {
    background-color: #a1bc70;
}

header > .menu-controller:hover, header > .menu-controller-active {
    background-color: #59574b;
}

header > nav.menu > ul {
    background-color: #59574b;
}

.search-area {
    text-align: center;
    width: 40%;
    height: 40px;
    margin: 0 auto;
    display: block;
}

.search-area input {
    width: 70%;
    height: 40px;
    padding-left: 10px;
}

.search-area button {
    width: 30%;
    border: none;
}

.search-area button:hover {
    text-decoration: underline;
}

.ofertas {
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: block;
}

div.oferta {
    display: block;
    float: left;
    width: 25%;
    height: 370px;
    padding: 10px;
    border-radius: 2px;
    transition: background-color 0.5s;
}

div.oferta:hover {
    background-color: #ddd6d4;
}

div.oferta > div {
    display: block;
    height: 50%;
    width: 100%;
    margin: 10px auto;
    background-color: #5a574b;
}

div.oferta p {
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

div.oferta p.oferta-preco, div.oferta p.oferta-produto {
    font-weight: bolder;
    font-size: 1.2em;
}

.termo {
    padding-bottom: 20px;
    font-size: 0.9em;
    font-weight: lighter;
    color: #59574b;
}

.termo > p {
    line-height: 1.2em;
}